.footer-green-background {
  background-color: #1A531B;
  color: white;
  padding-top: 20px;
}

.eatereez-landing-background {
  background: url('images/eateerez-cover-image.png') no-repeat center center;
  background-size: cover;
  height: 500px;
  padding-left: 50px;
  padding-right: 50px;
}
.eatereez-landing-logo{
  padding-top: 50px;
}

.eatereez-landing-text {
  padding-top: 20px;
  border: none;
}

.Navbar-style {
  background-color: #1A531B !important;

}

.standard-height {
  height: 800px;
}

.map-spacing {
  padding-bottom: 60%;
}