.footer-green-background {
  background-color: #1A531B;
  color: white;
  padding-top: 20px;
}

.eatereez-landing-background{
  background: url('images/eatereez-cover.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
/*  padding-left: 50px;*/
/*  padding-right: 50px;*/
}

.eatereez-landing-text {
  padding-top: 230px;
  border: none;
}

.Navbar-style {
  background-color: #1A531B !important;

<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
